---
const personalImageAlt = "Luis Julio"
import Badge from "../components/Badge.astro"
import { Image } from "astro:assets"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import DownloadCVIcon from "../components/icons/DownloadCV.astro"
import GithubIcon from "../components/icons/GitHub.astro"
import SocialPill from "../components/SocialPill.astro"
import profileImage from "/public/images/luis-julio.webp"
---

<div class="max-w-xl flex mx-auto flex-wrap text-left">
  <div class="flex gap-4 mb-4">
    <Image
        class="rounded-full shadow-lg"
        src={profileImage}
        alt={personalImageAlt}
        width={64}
        height={64} 
        format="webp" />
    <a
      href="https://www.linkedin.com/in/luis-eduardo-julio-padilla-a853402a6/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <div>
    <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, mi nombre es Luis Eduardo Julio 
  </h1>
  <span class="text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 blue-500 to-blue-800 [background-size:_200%_200%] [animation:_gradient-animation_3s_infinite]">
    Ingeniero de software.
  </span>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-blue-400 [&>strong]:text-blue-600 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong
      >Apasionado por la programación y la tecnología</strong
    >, Cuento Con experiencia práctica en desarrollo de soluciones tecnologicos en proyectos académicos y profesionales.
    estoy preparado y emocionado por contribuir de manera proactiva al éxito de nuevos proyectos y seguir creciendo profesionalmente.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    
    <SocialPill href="https://www.linkedin.com/in/luis-eduardo-julio-padilla-a853402a6/">
      <LinkedInIcon class="size-5" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/LuisJulio29">
      <GithubIcon class="size-5" />
      Github
    </SocialPill>
    <SocialPill href="/files/CV-Luis-Julio.pdf">
      <DownloadCVIcon class="size-5" />
      Descargar CV  
    </SocialPill>
  </nav>
  </div>
  
</div>
