---
import ListItem from "./ListItem.astro"

const EXPERIENCIE = [
{
    date: "Agosto 2024 - Actualidad",
    title: "Ingeniero de software",
    company: "Universidad De Cartagena",
    description:
    'Responsable del diseño, desarrollo y actual proceso de implementación de un sistema de gestión de citas psicológicas. Este proyecto facilita a los estudiantes universitarios el acceso y manejo de los servicios psicológicos.',
    link:"https://www.unicartagena.edu.co/"
  },
  {
    date: "Diciembre 2024 - Abril 2025",
    title: "Ingeniero De Software",
    company: "Fundación Antonio Hernández Blanco",
    description: 
      "Desarrollé de manera freelance un sistema de gestion de chances y loterias, La solución incluye integraciones mediante web scraping y automatización para el envío de informes.",
  },
  {
    date: "septiembre 2023 -junio 2024",
    title: "Ingeniero de software",
    company: "BiotechWorks SAS",
    description:
      "Participé en el desarrollo de un sistema computarizado de gestión de mantenimiento (CMMS), el cual ayudó a la empresa a gestionar los procesos y la información de equipos, mantenimientos, proveedores, clientes, repuestos, etc, de forma centralizada.",
    link:"https://biotechworks.com.co/index.html"
  }
]


const STUDIES = [
  {
    date: "Octubre 2020 - Actualidad",
    title: "Ingeniería de sistemas",
    company: "",
    description: "UNIVERSIDAD DE CARTAGENA",
  },
  {
    date: "Junio 2022 - Actualidad",
    title: "Educación continua en desarrollo de software",
    company: "",
    description:
      "Udemy, Platzi, Coursera, FreeCodeCamp",
  },
  {
    date: "Junio 2024 - Actualidad",
    title: "AWS Cloud foundations - Developing",
    company: "",
    description:
      "AWS ACADEMY",
  },
 
  
]

let {typeView} = Astro.props
---

{(typeView == "experiencie") && 
<ol class="relative mt-16">
  {
    
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ListItem {...experiencie} />
      </li>
    ))
  }
</ol>
}

{(typeView == "estudies") && 
<ol class="relative mt-16">
  {
    STUDIES.map((experiencie) => (
      <li class="">
        <ListItem {...experiencie} />
      </li>
    ))
  }
</ol>
}